# Домашнее задание по теме: пакет `pandas` (группировка, агрегирование, сводные таблицы)

## Подготовка окружения

In [1]:
# ВНИМАНИЕ: необходимо удостовериться, что виртуальная среда выбрана правильно!

!pip -V

pip 20.3.3 from /home/ira/anaconda3/envs/LevelUp_DataScience/lib/python3.8/site-packages/pip (python 3.8)

In [2]:
# !conda install pandas -y

In [3]:
import pandas as pd

pd.__version__

'1.2.1'

## Загрузка данных

[Источник (Hotel booking demand)](https://www.kaggle.com/jessemostipak/hotel-booking-demand)

[Описание колонок](https://www.sciencedirect.com/science/article/pii/S2352340918315191#t0005)

ВНИМАНИЕ: Предварительно датасет необходимо скачать к себе на локальный компьютер.

In [4]:
# загрузить датасет в pandas dataframe
df = pd.read_csv("./../../data/hotel_bookings.csv")

# показать все колонки
pd.options.display.max_columns = None

# вывести первые 5 и последние 5 строк
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,0.0,0,BB,BEL,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,0.0,0,BB,FRA,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,0.0,0,BB,DEU,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,0.0,0,HB,DEU,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [5]:
# вывести список колонок (тип list)
df.columns.tolist()

['hotel',
 'is_canceled',
 'lead_time',
 'arrival_date_year',
 'arrival_date_month',
 'arrival_date_week_number',
 'arrival_date_day_of_month',
 'stays_in_weekend_nights',
 'stays_in_week_nights',
 'adults',
 'children',
 'babies',
 'meal',
 'country',
 'market_segment',
 'distribution_channel',
 'is_repeated_guest',
 'previous_cancellations',
 'previous_bookings_not_canceled',
 'reserved_room_type',
 'assigned_room_type',
 'booking_changes',
 'deposit_type',
 'agent',
 'company',
 'days_in_waiting_list',
 'customer_type',
 'adr',
 'required_car_parking_spaces',
 'total_of_special_requests',
 'reservation_status',
 'reservation_status_date']

### Группировка и агрегирование

In [6]:
# среднее значение в каждом столбце по hotel
df.groupby(["hotel"]).mean()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
hotel,,,,,,,,,,,,,,,,,,,,
City Hotel,0.417270,109.735724,2016.174285,27.177449,15.786625,0.795185,2.182957,1.850977,0.091370,0.004941,0.025615,0.079743,0.132371,0.187369,28.144721,145.271618,3.226774,105.304465,0.024367,0.546918
Resort Hotel,0.277634,92.675686,2016.121443,27.140864,15.821243,1.189815,3.128732,1.867149,0.128682,0.013904,0.044383,0.101722,0.146455,0.287968,217.571725,241.486165,0.527758,94.952930,0.138068,0.619770

In [11]:
# количество значений для каждой колонки относительно arrival_date_month
df.groupby("arrival_date_month").count()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
arrival_date_month,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
April,11089,11089,11089,11089,11089,11089,11089,11089,11089,11089,11089,11089,11045,11089,11089,11089,11089,11089,11089,11089,11089,11089,9758,596,11089,11089,11089,11089,11089,11089,11089
August,13877,13877,13877,13877,13877,13877,13877,13877,13877,13873,13877,13877,13856,13877,13877,13877,13877,13877,13877,13877,13877,13877,12682,288,13877,13877,13877,13877,13877,13877,13877
December,6780,6780,6780,6780,6780,6780,6780,6780,6780,6780,6780,6780,6728,6780,6780,6780,6780,6780,6780,6780,6780,6780,5631,370,6780,6780,6780,6780,6780,6780,6780
February,8068,8068,8068,8068,8068,8068,8068,8068,8068,8068,8068,8068,8012,8068,8068,8068,8068,8068,8068,8068,8068,8068,6461,741,8068,8068,8068,8068,8068,8068,8068
January,5929,5929,5929,5929,5929,5929,5929,5929,5929,5929,5929,5929,5874,5929,5929,5929,5929,5929,5929,5929,5929,5929,4563,539,5929,5929,5929,5929,5929,5929,5929
July,12661,12661,12661,12661,12661,12661,12661,12661,12661,12661,12661,12661,12628,12661,12661,12661,12661,12661,12661,12661,12661,12661,11604,300,12661,12661,12661,12661,12661,12661,12661
June,10939,10939,10939,10939,10939,10939,10939,10939,10939,10939,10939,10939,10927,10939,10939,10939,10939,10939,10939,10939,10939,10939,9806,431,10939,10939,10939,10939,10939,10939,10939
March,9794,9794,9794,9794,9794,9794,9794,9794,9794,9794,9794,9794,9739,9794,9794,9794,9794,9794,9794,9794,9794,9794,8149,731,9794,9794,9794,9794,9794,9794,9794
May,11791,11791,11791,11791,11791,11791,11791,11791,11791,11791,11791,11791,11779,11791,11791,11791,11791,11791,11791,11791,11791,11791,10089,812,11791,11791,11791,11791,11791,11791,11791
November,6794,6794,6794,6794,6794,6794,6794,6794,6794,6794,6794,6794,6752,6794,6794,6794,6794,6794,6794,6794,6794,6794,5409,781,6794,6794,6794,6794,6794,6794,6794
October,11160,11160,11160,11160,11160,11160,11160,11160,11160,11160,11160,11160,11095,11160,11160,11160,11160,11160,11160,11160,11160,11160,9461,707,11160,11160,11160,11160,11160,11160,11160
September,10508,10508,10508,10508,10508,10508,10508,10508,10508,10508,10508,10508,10467,10508,10508,10508,10508,10508,10508,10508,10508,10508,9437,501,10508,10508,10508,10508,10508,10508,10508

In [7]:
# подсчитать, сколько всего City и Resort отелей
df.groupby(['hotel'])['is_canceled'].count()

hotel
City Hotel      79330
Resort Hotel    40060
Name: is_canceled, dtype: int64

In [8]:
# подсчитать, сколько было отмен (is_canceled) для City и Resort отелей
df.groupby(['hotel', "is_canceled"])['lead_time'].count()

hotel         is_canceled
City Hotel    0              46228
              1              33102
Resort Hotel  0              28938
              1              11122
Name: lead_time, dtype: int64

In [9]:
# подсчитать, сколько было отмен (is_canceled) у повторных поситителей и новых (is_repeated_guest) 
df.groupby(['is_repeated_guest', "is_canceled"])['lead_time'].count().unstack()

is_canceled            0      1
is_repeated_guest
0                  71908  43672
1                   3258    552

In [10]:
# подсчитать, сколько было отмен (is_canceled) у повторных поситителей и новых (is_repeated_guest)
# для City и Resort отелей 
df.groupby(['hotel', "is_repeated_guest", "is_canceled"])["is_canceled"].aggregate('count').unstack()

is_canceled                         0      1
hotel        is_repeated_guest
City Hotel   0                  44637  32661
             1                   1591    441
Resort Hotel 0                  27271  11011
             1                   1667    111