# Домашнее задание по теме: пакет `pandas` (группировка, агрегирование)

## Подготовка окружения

In [1]:
# ВНИМАНИЕ: необходимо удостовериться, что виртуальная среда выбрана правильно!

# Для MacOS/Ubuntu
# !which pip

# Для Windows
# !where pip

pip 21.0.1 from /home/ira/.local/lib/python3.8/site-packages/pip (python 3.8)

In [2]:
# !conda install numpy pandas matplotlib -y

In [3]:
import pandas as pd

pd.__version__

'1.2.3'

## Загрузка данных

[Источник (Hotel booking demand)](https://www.kaggle.com/jessemostipak/hotel-booking-demand)

[Описание колонок](https://www.sciencedirect.com/science/article/pii/S2352340918315191#t0005)

ВНИМАНИЕ: Предварительно датасет необходимо скачать к себе на локальный компьютер.

In [4]:
# загрузить датасет в pandas dataframe
df = pd.read_csv("./../../data/hotel_bookings.csv")

# показать все колонки
pd.options.display.max_columns = None

# вывести первые 5 и последние 5 строк
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,0.0,0,BB,BEL,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,0.0,0,BB,FRA,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,0.0,0,BB,DEU,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,0.0,0,HB,DEU,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [5]:
# вывести список колонок (тип list)
df.columns.tolist()

['hotel',
 'is_canceled',
 'lead_time',
 'arrival_date_year',
 'arrival_date_month',
 'arrival_date_week_number',
 'arrival_date_day_of_month',
 'stays_in_weekend_nights',
 'stays_in_week_nights',
 'adults',
 'children',
 'babies',
 'meal',
 'country',
 'market_segment',
 'distribution_channel',
 'is_repeated_guest',
 'previous_cancellations',
 'previous_bookings_not_canceled',
 'reserved_room_type',
 'assigned_room_type',
 'booking_changes',
 'deposit_type',
 'agent',
 'company',
 'days_in_waiting_list',
 'customer_type',
 'adr',
 'required_car_parking_spaces',
 'total_of_special_requests',
 'reservation_status',
 'reservation_status_date']

## Группировка и агрегирование

In [6]:
# среднее значение в столбце is_canceled относительно hotel
df.groupby(["hotel"]).is_canceled.mean()

hotel
City Hotel      0.417270
Resort Hotel    0.277634
Name: is_canceled, dtype: float64

In [7]:
# сумма значений в столбце is_canceled относительно arrival_date_month
df.groupby("arrival_date_month").is_canceled.sum()

arrival_date_month
April        4524
August       5239
December     2371
February     2696
January      1807
July         4742
June         4535
March        3149
May          4677
November     2122
October      4246
September    4116
Name: is_canceled, dtype: int64

In [8]:
# статистика по adults для каждого arrival_date_month
df.groupby("arrival_date_month").adults.describe()

                      count      mean       std  min  25%  50%  75%   max
arrival_date_month
April               11089.0  1.876274  0.475239  0.0  2.0  2.0  2.0   4.0
August              13877.0  2.002955  0.441021  0.0  2.0  2.0  2.0   4.0
December             6780.0  1.826254  0.503319  0.0  2.0  2.0  2.0   4.0
February             8068.0  1.791026  0.511873  0.0  2.0  2.0  2.0   4.0
January              5929.0  1.690673  0.540014  0.0  1.0  2.0  2.0   3.0
July                12661.0  1.987521  0.463010  0.0  2.0  2.0  2.0   4.0
June                10939.0  1.860591  0.479265  0.0  2.0  2.0  2.0   4.0
March                9794.0  1.804676  0.507610  0.0  2.0  2.0  2.0   4.0
May                 11791.0  1.826732  0.477928  0.0  2.0  2.0  2.0   4.0
November             6794.0  1.690904  0.509139  0.0  1.0  2.0  2.0   4.0
October             11160.0  1.817115  0.775310  0.0  2.0  2.0  2.0  55.0
September           10508.0  1.872954  0.946830  0.0  2.0  2.0  2.0  50.0

In [9]:
# количество строк для каждого arrival_date_year
# пропущенные значения (nan, null...) считаются
df.groupby("arrival_date_year").size()

arrival_date_year
2015    21996
2016    56707
2017    40687
dtype: int64

In [10]:
# подсчитать, сколько всего City и Resort отелей
df.groupby(['hotel'])['is_canceled'].count()

hotel
City Hotel      79330
Resort Hotel    40060
Name: is_canceled, dtype: int64

In [11]:
# подсчитать, сколько было отмен (is_canceled) для City и Resort отелей
df.groupby(['hotel', "is_canceled"])['lead_time'].count()

hotel         is_canceled
City Hotel    0              46228
              1              33102
Resort Hotel  0              28938
              1              11122
Name: lead_time, dtype: int64

In [12]:
# подсчитать, сколько было отмен (is_canceled) у повторных посетителей и новых (is_repeated_guest)
df.groupby(['is_repeated_guest', "is_canceled"])['lead_time'].count().unstack()

is_canceled            0      1
is_repeated_guest
0                  71908  43672
1                   3258    552

In [13]:
# подсчитать, сколько было отмен (is_canceled) у повторных посетителей и новых (is_repeated_guest)
# для City и Resort отелей 
df.groupby(['hotel', "is_repeated_guest", "is_canceled"])["is_canceled"].aggregate('count').unstack()

is_canceled                         0      1
hotel        is_repeated_guest
City Hotel   0                  44637  32661
             1                   1591    441
Resort Hotel 0                  27271  11011
             1                   1667    111